include head.pug

.container
  .row
    .col-md-9
      .bs-docs-section
        h2 Metadata
        p= 'ID: ' + model.id
        p= 'Name: ' + model.name 
        p= 'Description: ' + model.description
        p= 'Tags: ' + model.tags
        p= 'Root URL: ' + model.id

        h3 Model
        p
          a(href=model.id + '/model') View Full Model 
          span of the weather station.

        hr
        
        h2 Resources
        ul
          li 
            a(href=model.links.product.link, target='_blank') product 
            span - 
            span= model.links.product.title
          li 
            a(href=model.links.properties.link) properties 
            span - 
            span= model.links.properties.title
          li
            a(href=model.links.properties.type.link) type 
            span - 
            span= model.links.properties.type.title
          li
            a(href=model.links.properties.help.link) help 
            span - 
            span= model.links.properties.help.title
          li 
            a(href=model.links.properties.ui.link) ui 
            span - 
            span= model.links.properties.ui.title
include footer.pug