include head.pug

.container
  .row
    .col-md-9
      .bs-docs-section
        h2= property.name
        p= property.description
        p= 'Tags: ' + property.tags

        h3 Values
        hr
        p= property.values.name
        p= property.values.description
        p= 'Unit: ' + property.values.unit
        p= 'Value: ' + property.values.latest.value
        p= 'Timestamp: ' + property.values.latest.updated

        h3 Additional info
        hr
        p In order to limit the results, you can use the 
          code ?limit=X 
          span query parameter when performing a request with JSON as Accept header.

include footer.pug